.approach-card{
    display: flex;
    flex-direction: column;
    gap:var(--space-s);
    &__line{
        display: flex;
        width: 100%;
        height: 3px;
        background-color: var(--color-accent);
        border-radius: 10px;
    }
}