.btn{
    padding: 6px 24px;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
    transition: var(transition);

    &--highlight{
        background-color: var(--color-accent);
        color: var(--color-light);

        &:hover{
            background-color: var(--color-accent-lighter);
        }
    }

    &--muted{
        background-color: var(--color-light);
        color: var(--color-base);
        border: var(--color-base) 2px solid;

        &:hover{
            color: var(--color-light);
            background-color: var(--color-base);
        }
    }
}

.link{
    color: var(--color-base);
    font-weight: 600;
}

.input{
    border: solid 2px var(--color-base);
    border-radius: var(--space-xs);
    padding: var(--space-xs);
    
    &:hover{
        border: solid 2px var(--color-accent);
    }
    &:focus{
        outline: none;
        border: solid 2px var(--color-accent);
    }
}