
// скрытие чекбокса
.overlay-checkbox {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// когда чекбокс с галочкой, то оверлей появляется
body:has(.overlay-checkbox:checked) .overlay {
  display: flex;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 48, 66, 0.3);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(12px, calc( 12px + (700 - 12) * ((100vw - 320px) / (1920 - 320))), 700px);
}

.overlay-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--space-s-adaptive);
  padding: var(--space-s-adaptive);
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
  right: 0;
  cursor: pointer;
  &__svg{
    width: var(--space-m);
    height: var(--space-m);
  }
}
.form{
  display: flex;
  flex-direction: column;
  gap: var(--space-s-adaptive);
  &__title{
    position: relative;
  }
  &__input{
    width: 100%;
    resize: vertical;
  }
}
.form-item{
  display: flex;
  flex-direction: column;
  gap: var(--space-xs-adaptive);
}


