.project-card-link{
    width: clamp(160px, calc(160px + (300 - 160) * ((100vw - 375px) / (1920 - 375))), 300px);
    height: clamp(50px, calc(50px + (90 - 50) * ((100vw - 375px) / (1920 - 375))), 90px);
    overflow: hidden;
    box-shadow: var(--shadow);
    position: relative;
    display: inline-block; 
    transition: transform 100ms linear;

    .project-card{
        height: 100%;
        width: 100%;

        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &:hover{
        transform: translateY(-20px);
    }
}