@font-face{
    src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2'),
        url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-family: "Montserrat";
    font-weight: 100 900;
    font-style: normal;
}

*{
    font-size: var(--font-size-text);
    font-family: 'Montserrat';
    color: var(--color-dark);    
    font-weight: 400;    
    text-decoration: none;    
}

.title{
    font-size: var(--font-size-title);
    font-weight: 500;
    font-family: 'Montserrat';
    color: var(--color-dark);
}

.subtitle{
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    font-family: 'Montserrat';
    color: var(--color-dark);
}

.text{
    font-family: 'Montserrat';
    color: var(--color-dark);
    font-weight: 400;
    font-size: var(--font-size-text);
    &--larger{
        font-size: var(--font-size-text-larger);
    }

    &--smaller{
        font-size: var(--font-size-text-smaller);
    }
    &--accent{
        color: var(--color-accent);
    }
    &--light{
        color: var(--color-light);
    }
}

.icon-phone-dark{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-phone-dark.svg);
    }
}
.icon-phone-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-phone-dark.svg);
    }
}
.icon-phone-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-phone-dark.svg);
    }
}
.icon-phone-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-phone-dark.svg);
    }
}



