@font-face{
    src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2'),
        url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-family: "Montserrat";
    font-weight: 100 900;
    font-style: normal;
}

*{
    font-size: var(--font-size-text);
    font-family: 'Montserrat';
    color: var(--color-dark);    
    font-weight: 400;    
    text-decoration: none;    
}

.title{
    font-size: var(--font-size-title);
    font-weight: 500;
    font-family: 'Montserrat';
    color: var(--color-dark);
    &--bolder{
        font-weight: 600;
    }
}

.subtitle{
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    font-family: 'Montserrat';
    color: var(--color-dark);
}

.text{
    font-family: 'Montserrat';
    color: var(--color-dark);
    font-weight: 400;
    font-size: var(--font-size-text);
    &--larger{
        font-size: var(--font-size-text-larger);
        font-weight: 500;
    }
    &--smaller{
        font-size: var(--font-size-text-smaller);
    }
    &--bolder{
        font-weight: 600;
    }
    &--accent{
        color: var(--color-accent);
    }
    &--muted{
        color: var(--color-muted);
    }
    &--light{
        color: var(--color-light);
    }
    &--centered{
        text-align: center;
    }
    &--circled{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        background-color: var(--color-bright);
        border-radius: 40px;

        font-weight: 500;        
    }
}

.icon-phone-dark{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-phone-dark.svg);
    }
}
.icon-phone-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-phone-light.svg);
    }
}
.icon-email-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-email-light.svg);
    }
}
.icon-adress-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-map-light.svg);
    }
}
.icon-info-light{
    &::before{
        margin-right: var(--space-xs);
        content:url(../images/icon-info-light.svg);
    }
}




