<footer class="footer">
    <div class="footer-top">
        <a href="index.html" class="footer__logo-link">
            <img class="footer__logo" src="assets/images/logo-simple.svg" alt="QScape logo">
        </a>
        <div class="footer-info">
            <div class="footer-contacts">
                <a href="mailto:info@qscape.ru" class="footer-info__item link icon-email-light text text--accent">info@qscape.ru</a>
                <a href="tel:+79200678467" class="footer-info__item link icon-phone-light text text--accent">+7 (920) 067-84-67</a>
                <input type="checkbox" id="overlay-toggle" class="overlay-checkbox">
                <label for="overlay-toggle" class="footer-info__btn btn btn--highlight">Заказать звонок</label>
            </div>
            <div class="footer-info__container">
                <img class="footer-info__icon" src="assets/images/icon-info-light.svg" alt="">
                <p class="footer-info__text text text--accent">
                    ООО&nbsp"КУСКЕЙП"<br>
                    ИНН:&nbsp5260479553<br>
                    ОГРН:&nbsp1215200032112<br>
                </p>
            </div>
            <div class="footer-info__container">
                <img class="footer-info__icon" src="assets/images/icon-map-light.svg" alt="">
                <p class="footer-info__item text text--accent">
                    г.&nbspНижний&nbspНовгород,<br>
                    ул.&nbspКовалихинская,<br>
                    д.&nbsp72Б, 603155<br>
                </p>
            </div>
        </div>
    </div>
    <p class="footer__text text">
        © 2025 ООО "КУСКЕЙП" Все права защищены
    </p>
</footer>