<section id="overlay" class="overlay">
  <div class="overlay-content">
    <form action="" class="form">
        <h1 class="form__title title">
            Связь с нами
            <label for="overlay-toggle" class="close-btn">
                <svg class="close-btn__svg" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.2812 0.294922C22.6743 -0.0982682 23.312 -0.0982391 23.7051 0.294922C24.0982 0.688189 24.0982 1.32646 23.7051 1.71973L13.4229 12.0059L23.7051 22.292C24.0979 22.6852 24.0979 23.3226 23.7051 23.7158C23.312 24.1091 22.6743 24.1091 22.2812 23.7158L12 13.4297L1.71875 23.7158C1.32566 24.1091 0.68801 24.1091 0.294922 23.7158C-0.0981156 23.3225 -0.0981494 22.6852 0.294922 22.292L10.5762 12.0049L0.294922 1.71973C-0.0981663 1.32646 -0.0981663 0.688189 0.294922 0.294922C0.687918 -0.0979497 1.32475 -0.0979066 1.71777 0.294922L11.999 10.5811L22.2812 0.294922Z" fill="#2E4A8B"/>
                </svg>
            </label>
        </h1>

        <p class="form__text text--muted">
            Подробно расскажем о наших услугах, 
            стоимости и подготовим индивидуальное 
            предложение для вас!
        </p>
        
        <div class="form-item">
            <label class="form__label text" for="name">Введите ваше имя:</label>
            <input class="form__input input" type="text" id="name" name="name" required>
        </div>

        <div class="form-item">
            <label class="form__label text" for="phone">Введите ваш номер телефона:</label>
            <input class="form__input input" type="tel" id="phone" name="phone" required>
        </div>

        <div class="form-item">
            <label class="form__label text" for="message">Введите ваш запрос:</label>
            <textarea class="form__input input" id="message" name="message" required></textarea>
        </div>

        <button class="form-btn btn btn--highlight" type="submit">Отправить</button>
    </form>
  </div>
</section>