<div class="service-card">
    <div class="service-card-block">
        <h2 class="service-card__subtitle subtitle">@@serviceCardSubtitle</h2>
        <p class="service-card__text text">
            @@serviceCardText
        </p>
        <div class="service-card-container">
            <p class="service-card__price text text--bolder">
                от @@serviceCardPrice руб.
            </p>
            <input type="checkbox" id="overlay-toggle" class="overlay-checkbox">
            <label for="overlay-toggle" class="service-card__btn btn btn--muted">Заказать услугу</label>
        </div>
    </div>
    <img src="assets/images/illustration@@serviceCardNum.svg" alt="@@serviceCardSubtitle" class="service-card__img">
</div>