// --base--
@use 'base/variables';
@use 'base/controls';
@use 'base/typography';

// // --components--

@use 'components/header';
@use 'components/footer';
@use 'components/overlay';
@use 'components/service-card-min';
@use 'components/service-card';
@use 'components/plan-card';
@use 'components/approach-card';
@use 'components/project-card';
@use 'components/help';

// // --pages--
@use 'pages/index';
@use 'pages/services';



html {
  scroll-behavior: smooth;
}

body, textarea{
  &::-webkit-scrollbar {
  width: 6px;
  background-color: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-base);
    border-radius: 10px;
    cursor: grab;
    &:active{
      cursor: grabbing;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: none;
  }
}

*{
  margin: 0;
  //padding: 0;
  box-sizing: border-box;
}

img, iframe, svg{
  display: block;
}


.scroll-up{
  position: fixed;
  bottom: var(--space-m-adaptive);
  right: var(--space-m-adaptive);
  background-color: var(--color-light);
  width: var(--space-l);
  height: var(--space-l);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  border-radius: 100px;

  &__icon{
    stroke-width: 2;
    stroke: var(--color-base);
  }
  
  &:hover{
      background-color: var(--color-accent);
      .scroll-up__icon{
        stroke: var(--color-light);
      }
    }
}
