// --base--
@use 'base/variables';
@use 'base/typography';

// // --components--
// @use 'components/header';
// @use 'components/footer';
// @use 'components/controls';



// // --pages--
// @use 'pages/index';
// @use 'pages/services';



html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, iframe{
  display: block;
}


.main{
  display: flex;
  flex-direction: column;
}
